.appbar {
  background-color: var(--green-color) !important;
  font-family: var(--primary-font);
  text-transform: uppercase;
}

.appbar a {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.appbar a:hover,
.appbar a:active {
  color: var(--hover-color) !important;
}

.nav_brand > a {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 35px;
  color: #fff;
  margin-right: 2rem;
  text-transform: none;
  text-decoration: none;
  letter-spacing: normal;
}

.nav_brand > a:hover {
  color: var(--hover-color);
}

.btn_primary {
  background-color: var(--darkgreen-color);
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px !important;
  padding: 10px 30px;
  border: none;
}

.btn_secondary {
  background-color: var(--green-color);
  border: 2px solid var(--darkgreen-color);
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px !important;
  padding: 10px 30px;
}

.btn_primary:hover,
.btn_primary:active {
  background-color: var(--hover-color) !important;
}

.btn_secondary:hover,
.btn_secondary:active {
  background-color: var(--hover-color) !important;
  border: 2px solid #1a8956 !important;
}

/* Searchbar */

.search_wrapper {
  width: 500px;
  margin: 1.5rem auto !important;
}

.search_input {
  background-color: var(--lightgreen-color);
  font-family: var(--primary-font);
  font-weight: 400;
  padding: 12px 30px;
  border-radius: 2rem;
  border: 1px solid var(--darkgreen-color);
}

.btn_search {
  color: #fff;
  background-color: var(--darkgreen-color);
  width: 10%;
  border-radius: 2rem;
  border: none;
  padding: 0 !important;
}

/* Carousel */

.car_wrapper {
  margin: 28px auto 0;
}

.car_item {
  height: 400px;
  border-radius: 10px;
}

.car_item > img {
  border-radius: 10px;
}

.car_caption {
  text-shadow: 1px 1px 4px #000000;
  text-transform: capitalize;
}

/* Card Game */

.card_wrapper {
  font-family: var(--secondary-font);
  background: var(--lightgreen-color);
  padding: 26px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card_wrapper > h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: var(--darkgreen-color);
}

.card_wrapper img {
  height: 293px;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
}

.card_info {
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  bottom: 1.25rem;
}

.card_title {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-shadow: 1px 1px 4px #000000;
  margin-bottom: 16px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.btn_play {
  color: #fff;
  text-decoration: none;
  background-color: var(--darkgreen-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 30px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border: none;
}

.btn_play:hover,
.btn_play:active {
  background-color: var(--hover-color) !important;
}

.btn_less {
  color: var(--darkgreen-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px !important;
}

.btn_less:hover,
.btn_less:active {
  color: var(--hover-color) !important;
}

/* Footer */

.app-footer {
  font-family: var(--primary-font);
  text-align: center;
  margin: 28px auto;
}

.app-footer > a {
  color: var(--green-color);
  text-decoration: none;
}
