@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --lightgreen-color: #def1e0;
  --green-color: #65dba3;
  --darkgreen-color: #41b07b;
  --hover-color: #1a8956;
}

body {
  background-color:  #F2FFF3;;
}

.choice:focus {
  background-color: #60BD8F !important;
}

.btnHover:hover {
  background-color: #32a06b !important;
}

@media screen and (max-width: 776px) {
  .img_choice {
    width: 120px !important;
  }

  .text__info {
    font-size: 18px !important;
  }

  .text__vs {
    font-size: 65px !important;
  }
}

@media screen and (max-width: 576px) {
  .img_choice {
    width: 100px !important;
  }

  .text__info {
    font-size: 15px !important;
  }

  .text__vs {
    font-size: 45px !important;
  }
}
