.login_page {
  display: flex;
  width: 100%;
  height: 100vh;
}
.header_login {
  background-color: #65dba3;
  width: 100%;
}

.header {
  display: flex;
  color: white;
  font-size: 75px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  margin: 250px auto;
  width: 600px;
}
.form_login {
  background-color: #60bd8f;
  width: 1100px;
}

.box_login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 140px auto;
  height: 520px;
  width: 400px;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: #f2fff3;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.circle {
  width: 130px;
  height: 130px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin: 10px auto;
}

.username_input {
  width: 300px;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-weight: 400;
  letter-spacing: 0.15em;
  font-style: normal;
  font-family: "Inter";
  font-size: 18px;
  padding: 8px;
  margin: 15px auto;
  background-color: #60bd8f;
  text-decoration: none;
}
.username_input::placeholder {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.password_input {
  width: 300px;
  border: none;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  letter-spacing: 0.15em;
  font-style: normal;
  font-family: "Inter";
  padding: 8px;
  margin: 0 auto;
  background-color: #60bd8f;
  text-decoration: none;
}
.password_input::placeholder {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.login_button {
  width: 100px;
  border: none;
  border-radius: 18px;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  margin: 30px auto;
  letter-spacing: 0.15em;
  font-family: "Inter";
}
.login_button:hover {
  background-color: #65dba3;
}

.sign_up {
  margin: 0 auto;
}
.btn_sign_up {
  width: 100px;
  margin: auto;
  margin: 0 10px;
  background-color: none;
}

@media screen and (max-width: 1024px) {
  .login_page {
    display: flex;
    flex-direction: column;
  }
  .header_login {
    background-color: #60bd8f;
    height: 350px;
    width: 100%;
  }
  .header {
    height: 400px;
    display: flex;
    font-size: 55px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 600px;
  }
  .form_login {
    width: 100%;
    height: 100vh;
  }
  .box_login {
    margin: 130px auto;
    height: auto;
    width: 100%;
  }
  .form {
    height: 1000px;
    width: 100%;
    /* margin: 10px; */
  }

  .username_input {
    width: 100%;
    height: 70px;
    font-weight: 400;
    letter-spacing: 0.15em;
    font-size: 25px;
    padding: 8px;
    margin: 15px auto;
  }
  .username_input::placeholder {
    font-size: 25px;
  }
  .password_input::placeholder {
    font-size: 25px;
  }
  .password_input {
    width: 100%;
    height: 70px;
    font-weight: 400;
    letter-spacing: 0.15em;
    font-size: 25px;
    padding: 8px;
    margin: 15px auto;
  }
  .login_button {
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 18px;
    font-weight: 400;
    font-size: 25px;
    padding: 10px;
    margin: 30px auto;
    letter-spacing: 0.15em;
  }
  .circle {
    width: 150px;
    height: 150px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin: 30px auto;
  }
  .sign_up {
    margin: 100px auto;
    font-size: 25px;
  }
}
@media screen and (max-width: 613px) {
  .login_page {
    width: max-content;
    height: 100vh;
  }

  .form {
    height: 800px;
  }
  .box_login {
    height: 600px;
  }
}
