.sideleft_container {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: #41b07b;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  align-items: center;
  min-height: 100vh;
}

.sideleft_container h2 {
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.15em;
}

.profile_item {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.profile_item > img {
  border-radius: 50%;
}

.profile_name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #fff;
}

.btn_edit,
.btn_logout {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.15em;
  font-weight: 700 !important;
  font-size: 18px !important;
  color: #41b07b !important;
  text-decoration: none !important;
  text-transform: uppercase;
  width: 185px;
  background: #f2fff3 !important;
  border-radius: 8px;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.btn_logout {
  background: #de5c5c !important;
  color: #fff !important;
}

.btn_edit:hover,
.btn_edit:active {
  color: #fff !important;
  background-color: #1a8956 !important;
}

.btn_logout:hover,
.btn_logout:active {
  background: #9e2d2d !important;
  color: #fff !important;
}

.sideright_container {
  background: #65dba3;
  font-family: "Inter", sans-serif;
  padding: 60px 20px 20px 20px !important;
}

.p_title_score,
.p_total_score {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.p_total_score {
  font-size: 105px;
  margin-top: -20px;
}

.p_container_history {
  background-color: #f2fff3;
  border-radius: 8px;
  padding: 30px 50px;
  min-height: 400px;
}

.p_title_history {
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.15em;
  color: #41b07b;
  text-align: center;
  margin-bottom: 1.5rem !important;
}

.p_history_item {
  background: #def1e0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  margin: 15px auto;
}

.p_history_item p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #65dba3;
  margin: 0;
  max-width: 600px;
}

.p_history_item p span {
  color: #ff6e41;
}

.btn_back {
  position: absolute;
  color: #d9d9d9;
  font-size: 30px;
  left: 50px;
  top: 30px;
  width: 100px;
}

.btn_back:hover {
  color: #1a8956;
}

/* Profile Edit */

.form_input {
  background: #41b07b !important;
  border-radius: 8px !important;
  color: #fff !important;
  border: none !important;
  padding: 12px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.form_input::-webkit-input-placeholder {
  color: #e7e6e6 !important;
  text-transform: uppercase;
}

.form_input::-ms-input-placeholder {
  color: #e7e6e6 !important;
  text-transform: uppercase;
}

.form_input::-moz-input-placeholder {
  color: #e7e6e6 !important;
  text-transform: uppercase;
}

/* Modal Profile */

.modal_header {
  padding: 10px 40px !important;
}

.modal_title {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 40px;
  color: #41b07b;
}

.modal_body {
  position: relative;
  flex: 1 1 auto;
  background: #65dba3;
  padding: 30px 40px;
}

.modal_body > h2 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.15em;
  color: #f2fff3;
  margin-bottom: 20px;
}

.modal_footer {
  justify-content: center !important;
  gap: 14px !important;
}

.btn_modal {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  color: #41b07b !important;
  background: #def1e0 !important;
  border: none !important;
  font-size: 20px !important;
  font-weight: 700;
  padding: 10px 30px !important;
}

.btn_modal:hover {
  color: #41b07b !important;
  background: #65dba3 !important;
}
