.register_page {
  display: flex;
  width: 100%;
  height: 100vh;
}
.reg_container {
  background-color: #65dba3;
  width: 100%;
}
.box_register {
  width: 850px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  background-color: #41b07b;
}
.form {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 20px 0;
}

.name_input {
  border-radius: 5px;
  border: none;
  width: 650px;
  height: 50px;
  margin: 10px 0;
  font-size: 18px;
}
.username_input {
  border-radius: 5px;
  border: none;
  width: 650px;
  height: 50px;
  margin: 10px 0;
  font-size: 18px;
}
.email_input {
  border-radius: 5px;
  border: none;
  width: 320px;
  font-size: 18px;
  height: 50px;
  margin: 10px 10px 0 0;
}

.password_input {
  border-radius: 5px;
  font-size: 18px;
  border: none;
  width: 320px;
  height: 50px;
}

.register_button {
  margin: 30px 0 0 0;
  width: 200px;
  font-family: "Inter";
  font-size: 18px;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: #41b07b;
  letter-spacing: 0.15em;
}
.register_button:hover {
  background-color: #65dba3;
  color: #f2fff3;
}

.sign_in {
  margin: 20px 0;
}

.btn_sign_in {
  margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
  .reg_container {
    /* background-color: #41b07b; */
  }
  .box_register {
    height: auto;
    margin: 200px auto 0 auto;
    width: 100%;
  }
  .form {
    height: 100%;
    width: 100%;
  }
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin: 70px 0;
  }
  .username_input {
    width: 750px;
  }
  .name_input {
    width: 750px;
  }
  .email_input {
    width: 370px;
  }
  .password_input {
    width: 370px;
  }
}

@media only screen and (max-width: 761px) {
  .box_register {
    width: 100%;
  }
  .form {
    width: 100;
  }
  .username_input {
    width: 100%;
  }
  .name_input {
    width: 100%;
    margin: 10px;
  }
  .email_input {
    width: 100%;
  }
  .password_input {
    width: 100%;
    margin-top: 20px;
  }
  .input_email_pass {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
